.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  grid-area: cards;
}

.card {
  background: transparent;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  position: relative;

  transition: transform 0.3s;
  transform-style: preserve-3d;
  perspective: 500px;

  width: 335px;
  height: 494px; /* TODO should be more flexible */
}

.cardFrontImg,
.cardBackImg {
  border-radius: 8px 8px 0 0;
}

.cardFrontInfo,
.cardBackInfo {
  height: inherit;

  display: grid;
  grid-template-rows: auto repeat(2, 1fr);
}

.cardFrontHead {
  color: var(--color-primary);
  margin-bottom: 0.75rem;
}

.cardBackHead {
  color: var(--color-neutral-white);
  margin-bottom: 0.75rem;
}

.cardFrontPlusIcon,
.cardBackPlusIcon {
  font-size: 1.5rem;
  align-self: flex-end;
  margin-left: auto;

  border-radius: 100%;
  padding: 0 0.25rem;
}

.cardBackPlusIcon > svg,
.cardFrontPlusIcon > svg {
  margin-bottom: -0.2rem;
}

.cardFrontPlusIcon {
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
}

.cardFrontPlusIcon:hover {
  animation: pulse-red 2s infinite;
}

.cardBackPlusIcon {
  background-color: var(--color-neutral-white);
  color: var(--color-primary);
}

.cardBackPlusIcon:hover {
  animation: pulse-white 2s infinite;
}

.cardFlip {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  background: white;
  border-radius: 8px;
  backface-visibility: hidden;

  width: 100%;
  height: 100%;

  position: absolute;
}

.cardFront {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

.cardFront:hover {
  box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.45);
  animation: pulse-shadow 0.5s;
}

.cardBack {
  transform: rotateY(180deg);

  background-color: var(--color-primary);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  color: var(--color-neutral-white) !important;
}

.cardBack > .cardBottomContainer {
  color: var(--color-neutral-white) !important;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(230, 0, 8, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(230, 0, 8, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(230, 0, 8, 0);
  }
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  }
  100% {
    box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.45);
  }
}

.cardBackBottomContainer,
.cardFrontBottomContainer {
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: auto repeat(2, 1fr);
}

.cardBackBottomContainer {
  grid-template-rows: repeat(2, auto) 1fr;
  height: 100%;
}
