@import url("./globals.css");
@import url("./components/card.css");

p {
  font-family: var(--font-nunito);
}

.pFilter2 {
  display: none;
}

.experiencesWrapper {
  display: flex;
  justify-content: center;
}
.experiences {
  display: grid;

  grid-template: 3.75rem repeat(4, auto) 3.75rem / 1.25rem 21rem 1.25rem;
  grid-template-areas:
    ". . ."
    ". head ."
    ". fTop ."
    ". filters ."
    ". cards ."
    ". . .";
}

@media only screen and (min-width: 56rem) {
  .experiences {
    grid-template: 5rem repeat(4, auto) 5rem / 1fr 45rem 1fr;
    grid-template-areas:
      ". . ."
      ". head ."
      ". fTop ."
      ". filters ."
      ". cards ."
      ". . .";
  }
  .pFilter2 {
    display: inline-block;
    align-self: center;
    margin-right: 4.5rem;
  }
}

@media only screen and (min-width: 77rem) {
  .experiences {
    grid-template: 5rem repeat(4, auto) 5rem / 1fr 72.5rem 1fr;
    grid-template-areas:
      ". . ."
      ". head ."
      ". fTop ."
      ". filters ."
      ". cards ."
      ". . .";
  }
  .pFilter2 {
    display: inline-block;
    align-self: center;
    margin-right: 4.5rem;
  }
}

.experiencesHead {
  margin-bottom: 1.25rem;

  grid-area: head;
}

.experiencesTopSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;

  grid-area: fTop;
}

@media only screen and (min-width: 77rem) {
  .experiencesTopSection {
    display: none;
  }
}

.pFilter {
  display: inline-block;
  align-self: center;
}

.btnFilterMain,
.btnFilter {
  font-weight: var(--font-weight-semi-bold);
  text-transform: capitalize;

  color: var(--color-neutral-600);
  background-color: var(--color-neutral-300);

  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
}

.btnFilter {
  width: 100%;
}

.filters {
  grid-area: filters;

  display: none;
}

.btnFilter {
  margin-bottom: 1rem;
}

.filterOn {
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
}

.slider {
  background: var(--color-neutral-white);
  border: none;
  height: 100vh;
  margin: 0;
  max-height: unset;
  max-width: unset;
  padding: 0;
  width: 100vw;
  left: 100vw;
  transition: left 200ms ease-in-out;

  padding: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderActive {
  left: 0;
}

.btnDialogClose {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.btnDialogResults {
  background-color: var(--color-primary);
  color: var(--color-neutral-white);

  font-size: var(--font-size-p2);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;

  padding: 1.25rem 1.5rem;
  width: max-content;
  border-radius: 30px;

  align-self: center;
  margin-top: auto;
}

@media only screen and (min-width: 56rem) {
  .filters {
    display: flex;
  }

  .dialog,
  .btnDialog {
    display: none;
  }
  .btnFilter {
    width: max-content;
    margin-right: 1.25rem;
  }
  [data-filter="all"] {
    margin-right: 2rem;
  }
}

.characters {
  max-width: 350px;
}
